body,
html {
    overflow-y: hidden;
}

.topbar span {
    font-size: 2cqw;
    color: #7B0302;
    font-weight: 700;
}

.welcome {
    font-size: 1.5cqw;
    color: #7B0302;
}

#user-circle-icon {
    font-size: 2.25cqw;
    color: #7B0302;
    z-index: 1000;
    transition: all 0.3s ease;
}

#user-circle-icon:hover {
    filter: brightness(1.25);
    transform: scale(1.05);
}

#user-circle-icon.active {
    color: white;
}

.user-menu-panel {
    display: none;
    position: absolute;
    background: white;
    top: 0;
    right: 0;
    width: 26%;
    height: 100%;
    z-index: 999;
    text-align: center;
}

.user-panel-top {
    background-color: #7B0302;
    height: 17rem;
}
.user-panel-top p {
   font-size: 2rem;
    font-weight: 700;
}
.user-top-info {
    position: absolute;
    top: 15%;
    left: 5%;
    text-align: left;
    color: white;
}

.user-bottom-info {
    display: block;
    position: absolute;
    top: 40%;
    left: 10%;
    color: #7B0302;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
}

.user-bottom-info input {
    margin-bottom: 10%;
    width: 120%;
    height: 2.5rem;
    font-size: 1.5rem;
}

#changepassword-button {
    position: absolute;
    top: 95%;
    right: -40%;
    font-size: 1rem;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

#changepassword-button:hover {
    color: #600202;
}

a.signout-button {
    position: absolute;
    top: 110%;
    left: 50%;
    background-color: #7B0302;
    color: white;
    padding: 10px 24px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

a.signout-button:hover {
    background-color: #600202;
}

.user-forgot-password {
    display: none;
    position: absolute;
    top: 40%;
    left: 10%;
    color: #7B0302;
    text-align: left;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}

.user-forgot-password input {
    color: #7B0302;
    border: 1px solid;
    margin-bottom: 10%;
    width: 140%;
    height: 2.5rem;
    font-size: 1.5rem;
}

#confirmchangepassword-button {
    background-color: #7B0302;
    color: white;
    padding: 10px 24px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

#cancelchangepassword-button {
    background-color: #868886ff;
    color: #7B0302;
    padding: 10px 24px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.3s ease;
}

#confirmchangepassword-button:hover {
    background-color: #600202;
}

#cancelchangepassword-button:hover {
    background-color: #7B0302;
    color: white;
}

.recent-list {
    min-width: 40%;
    font-family: Arial, sans-serif;
}

.recent-item {
    display: flex;
    align-items: center;
    padding: 15px 0;
    border-bottom: 1px solid #ddd;
}

.recent-list h3 {
    font-size: 16px;
    color: #7B0302;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 600;
}

.employee-info {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    min-width: 180px;
    margin-left: 20px;
}

.employee-info strong {
    font-weight: 900;
}

.employee-role {
    font-size: 0.8rem;
    margin-top: 3px;
}

.status {
    flex: 1;
    text-align: left;
    font-weight: 700;
    font-size: 1rem;
    margin-left: 20px;
}

.display-info {
    min-width: 25%;
    font-size: 0.7rem;
    text-align: left;
}

.datetime {
    font-size: 0.8rem;
    text-align: right;
    margin-right: 2%;
    font-size: 0.9rem;
}

.piechart {
    width: 100%;
    max-width: 35rem;
    align-items: center;
}


@media (max-width: 1080px) {
    .chart-section {
        display: block;
    }

    .piechart {
        width: 100%;
        max-width: 35rem;
        align-items: center;
    }

    .recent-list H3 {
        font-size: 40px;
    }

    body,
    html {
        overflow-y: visible;
    }

    #user-circle-icon {
        margin-top: -50px;
        font-size: 8.25cqw;
        color: #7B0302;
        z-index: 1000;
        transition: all 0.3s ease;
    }

    .topbar p {
        font-size: 80px;
        color: #7B0302;
    }

    .topbar span {
        margin-left: 6%;
        font-size: 70px;
        color: #7B0302;
        font-weight: 700;
        padding: 20px 0px 20px 0px;
    }

    .welcome {
        font-size: 5.5cqw;
        color: #7B0302;
        padding: 30px 30px 30px 0px;

    }
    #changepassword-button {
        position: absolute;
        top: 95%;
        right: -40%;
        font-size: 1rem;
        text-decoration: underline;
        font-weight: 600;
        cursor: pointer;
        transition: all 0.3s ease;
    }
    .user-panel-top p {
        font-size: 2.8rem;
        font-weight: 700;
    }

    .status {
        margin-left: 1%;
        flex: 1;
        text-align: left;
        font-size: 20px;
    }

    .display-info {
        min-width: 25%;
        font-size: 20px;
        text-align: left;
    }

    .datetime {
        font-size: 20px;
        text-align: right;
        margin-right: 1%;

    }

    .fa.fa-user-circle {
        font-size: 70px;
        color: #7B0302; 
    }

    .user-menu-panel {
        width: 55%;
        height: 33%;
     box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    }

}